<div id="navbar">
  <a id="home" href="/">Home</a>
  <a id="customer" href="/customer">Customer</a>
  <a id="hotel" href="/hotel">Hotel</a>
  <a id="delivery" href="/delivery">Delivery</a>
</div>

<script>
  document.getElementById("{{active}}").setAttribute( 'class', 'active' );
</script>
