<form action="/customer/signup" method="post">
    <input type="text" name="username" id="">
    <input type="text" name="password" id="">
    <input type="text" name="name" id="">
    <input type="text" name="address" id="">
    <input type="text" name="phone" id="">
    <input type="text" name="image" id="">
    <input type="text" name="bio" id="">
    <input type="submit" value="Signup">
</form>