<form action="/hotel/item/create" method="post">
    <label for="">name</label><input type="text" name="name" id=""><br>
    <label for="">image</label><input type="text" name="image" id=""><br>
    <label for="">details</label><input type="text" name="details" id=""><br>
    <label for="">cost</label><input type="text" name="cost" id=""><br>
    <input type="submit" value="submit"><br>
</form>