<form action="/hotel/item/create" method="post">
    <input type="text" name="name" id="">
    <input type="text" name="image" id="">
     <input type="text" name="details" id="">
    <input type="text" name="cost" id="">
    <input type="submit" value="submit">
</form>