<center>
    
    <h1 class="pink-text">Welcome to pumpkin !</h1>

    <h3 class="pink-text">Who are you?</h3>

</center>

<div class="flex centered">

    <div class="row">
        <div class="mid">
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h4>Customer</h4></span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="/customer/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="mid">
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h4>Hotel</h4></span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="/hotel/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="mid">
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h4>Delivery Person</h4></span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="/delivery/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        </div>
    </div>
          
</div>