<center>
    
    <h3 class="pink-text">Welcome to pumpkin !</h3>

    {{!-- <h3 class="pink-text">Who are you?</h3> --}}

</center>

<div class="flex centered">

    {{!-- <div class="row"> --}}
        {{!-- <div class="mid"> --}}
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h5>Customer</h5></span>
            <p>
                Customers can SignUp/Login, add items to cart, change their quantity or delete items from cart and order available items provided by open Hotels. They can opt for delivery services of hotels while placing order. They also have the option to cancel orders.
            </p>
            </div>
            <div class="card-action">
                <a href="/customer/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        {{!-- </div> --}}
    {{!-- </div> --}}

    {{!-- <div class="row"> --}}
        {{!-- <div class="mid"> --}}
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h5>Hotel</h5></span>
            <p>
                Hotels can SignUp/Login, edit their profile/details and create/edit items that they provide. They also have the option to close themselves or make an item unavailable or to opt in or out of delivery services. Hotels can change the order and payment status of their pending orders.
            </p>
            </div>
            <div class="card-action">
                <a href="/hotel/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        {{!-- </div> --}}
    {{!-- </div> --}}

    {{!-- <div class="row"> --}}
        {{!-- <div class="mid"> --}}
        <div class="full card">
            <div class="card-content">
            <span class="card-title"><h5>Delivery Person</h5></span>
            <p>
                Delivery Persons can SignUp/Login. They can view unassigned orders and accept orders which require delivery. They can also change the order and payment status of their pending orders.
            </p>
            </div>
            <div class="card-action">
                <a href="/delivery/">
                    <button class="btn waves-effect waves-light">
                        Proceed
                        <i class="material-icons right">arrow_forward</i>
                    </button>
                </a>
            </div>
        </div>
        {{!-- </div> --}}
    {{!-- </div> --}}
          
</div>