<form action="/hotel/signup" method="post">
    <input type="text" name="username" id="">
    <input type="text" name="password" id="">
    <input type="text" name="name" id="">
    <input type="text" name="address" id="">
    <input type="text" name="phone" id="">
    <input type="text" name="bio" id="">
    <input type="radio" name="delivery" value=1 id=""><label for="">yes</label>
    <input type="radio" name="delivery" value=0 id=""><label for="">no</label>
    <input type="submit" value="Login">
</form>