a {
  text-decoration: none;
  color: black;
}

.centered {
  width: 90%;
  margin: auto;
}

.danger {
  color: brown;
}

.safe {
  color: rgb(19, 107, 78);
}

.inactive {
  color: rgb(161, 168, 187) !important;
}

.card {
  width: 20%;
  margin: 2%;
}

.card-image {
  object-fit: contain;
  vertical-align: middle;
  height: 30vh;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

img {
  width:100%;
  height: 100%; 
  object-fit: contain;
  vertical-align: middle
}

button, .btn {
  background-color: #ee6e73 !important;
}

.pink-text {
  color:  #ee6e73 !important;
}

.full {
  width: 100% !important;
}

.little {
  width: 20% !important;
  margin-left: 1em !important;
  margin-right: 1em !important;
  font-size: 1.2em !important;
}

#site-footer, .fr, .fl {
  margin-bottom: 5em;
}

.brand-logo {
  margin-left: 1em;
}


.line {
  display: inline;
}

.centered-half {
  width: 50%;
  margin: auto;
}

#pre {
  width: 25%;
}


label {
  color: black !important;
}

.grey-image {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.non-primary {
  background-color: #26a69a !important;
}

.moved {
  margin-right: 1em;
}

.moved-left {
  margin-left: 1em;
}

.mid {
  margin: auto;
  width: 60%;
}

.sidenav-overlay {
  z-index: 99;
}

.normal {
  text-transform: none;
}

@media only screen and (max-width: 1500px) {
  .card {
    width: 28%;
  }
  .centered, .centered-half {
    width: 80%;
  }
}

@media only screen and (max-width: 1100px) {
  .card {
    width: 37%;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    width: 40%;
  }
  .centered, .centered-half {
    width: 80%;
  }
}

@media only screen and (max-width: 750px) {
  .card {
    width: 60%;
  }
  .centered, .centered-half {
    width: 75%;
  }
}

@media only screen and (max-width: 500px) {
  .card {
    width: 85%;
  }
  .centered, .centered-half {
    width: 75%;
  }
}