/* primary : #BB86FC
primary variant : #3700B3
secondary : #03DAC6

background: #121212
surface: #121212
error: #CF6679

on primary, secondary, error: #000000
on background, surface: #FFFFFF */

/* body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.active {
  background-color: #121212;
  color: #89799c !important;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  color: #BB86FC;
}

.piece {
  background-color: #212121b4;
  padding: 1em;
  border-radius: 0.5em;
}

#navbar {
  overflow: hidden;
  background-color: #BB86FC;
  display: flex;
  font-size: 1.7em;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  border-radius: 0.5em;
}

#navbar a, a {
  color: #000000;
  padding: 0.6em;
  text-decoration: none;
  padding: 0.8em;
  border-radius: 0.5em;
}

.hotel-card {
  margin: auto;
  margin-top: 2em;
  display: flex;
  background-color: #212121b4;
  padding: 1em;
  border-radius: 0.5em;
  width: 80%;
  height: 20vh;
}

.hotel-image {
  width: 25%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hotel-description{
  background-color: #121212;
  margin-left: 1em;
  width: 100%;
  border-radius: 0.5em;
  overflow-y: scroll;
  scrollbar-width: none i !important;
  padding: 2em;
}

img {
  width:100%;
  height:100%;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.name, .address, .phone, .bio {
  color: #FFFFFF;
  font-size: 2em;
}

.username {
  color: #BB86FC;
  font-size: 1em;
}


::-webkit-scrollbar {
  width: 0.1em !important;
  height: 0.05em !important;
}

::-webkit-scrollbar-track {
  background: #0f111893 !important; 
}

::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}












body * {
  box-sizing: border-box;
}

.header {
  background-color: #BB86FC;
  color: black;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}
table td, table th {
  color: rgb(0, 0, 0);
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: #BB86FC;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color:#c1a5e4;
} */












body * {
  box-sizing: border-box;
}

h2 {
font-size: 18px;
font-weight: bold;
}

small {
font-size: 14px;
}

.pull {
float: left;
}

.push {
float: right;
}

.container {
width: 100%;
max-width: 960px;
margin: 100px auto;
}

img {
width: 100%;
/* height: 100%; */
display: block;
}

/*Card Styling*/

.card {
border: 1px solid #dedede;
background-color: white;
}

.card__wrap--inner {
      padding: 12px;
  }

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #dedede;
}

/*Card Flex Code*/

.card {
display: flex;
flex-direction: column;
width: 100%;
}

.card__wrap--outer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }

.card__wrap--inner {
      display: flex;
      flex-direction: row;
      width: 100%;
  }

@media (min-width: 480px) {

.card__wrap--inner { 
          width: 50%
  }
      }


@media (min-width: 1024px) {

.card__wrap--inner { 
          width: 33.33%
  }
      }

.form {
  justify-content: center;
}

.flexible {
flex-grow: 1;
}

.grey {
  color: grey;
}

label {
  margin-top: 0.3em;
  font-size: 1em;
}

input {
  margin-top: 0.3em;
}


a {
  text-decoration: none;
  color: black;
  /* display: block; */
}

.material-icons.green { color: #04AA6D; }
.material-icons.red   { color: #75261c; }
.material-icons.md-18 { font-size: 18px; }


/* .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  /* height: 40vh; */
  /* display: grid; */
  /* flex: 0 0 200px; */
  /* margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  /* width: 20em;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 1em; */
/* } */

/* 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  } */












  .container {
    padding: 16px;
    background-color: white;
  }

  #pre {
    width: 12em;
    margin-bottom: 1em;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=file], .below {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=file]:focus, .below:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }