/* primary : #BB86FC
primary variant : #3700B3
secondary : #03DAC6

background: #121212
surface: #121212
error: #CF6679

on primary, secondary, error: #000000
on background, surface: #FFFFFF */

/* body {
  background-color: #121212;
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.active {
  background-color: #121212;
  color: #89799c !important;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  font-size: 10em;
  color: #BB86FC;
}

.piece {
  background-color: #212121b4;
  padding: 1em;
  border-radius: 0.5em;
}

#navbar {
  overflow: hidden;
  background-color: #BB86FC;
  display: flex;
  font-size: 1.7em;
  justify-content: space-around;
  width: 50%;
  margin: auto;
  border-radius: 0.5em;
}

#navbar a, a {
  color: #000000;
  padding: 0.6em;
  text-decoration: none;
  padding: 0.8em;
  border-radius: 0.5em;
}

.hotel-card {
  margin: auto;
  margin-top: 2em;
  display: flex;
  background-color: #212121b4;
  padding: 1em;
  border-radius: 0.5em;
  width: 80%;
  height: 20vh;
}

.hotel-image {
  width: 25%;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.hotel-description{
  background-color: #121212;
  margin-left: 1em;
  width: 100%;
  border-radius: 0.5em;
  overflow-y: scroll;
  scrollbar-width: none i !important;
  padding: 2em;
}

img {
  width:100%;
  height:100%;
  object-fit: contain;
  display: inline-block;
  vertical-align: middle;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.name, .address, .phone, .bio {
  color: #FFFFFF;
  font-size: 2em;
}

.username {
  color: #BB86FC;
  font-size: 1em;
}


::-webkit-scrollbar {
  width: 0.1em !important;
  height: 0.05em !important;
}

::-webkit-scrollbar-track {
  background: #0f111893 !important; 
}

::-webkit-scrollbar-thumb {
  background: #888 !important; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555 !important; 
}












body * {
  box-sizing: border-box;
}

.header {
  background-color: #BB86FC;
  color: black;
  font-size: 1.5em;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
}

img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.table-users {
  border: 1px solid #327a81;
  border-radius: 10px;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: calc(100% - 2em);
  margin: 1em auto;
  overflow: hidden;
  width: 800px;
}

table {
  width: 100%;
}
table td, table th {
  color: rgb(0, 0, 0);
  padding: 10px;
}
table td {
  text-align: center;
  vertical-align: middle;
}
table td:last-child {
  font-size: 0.95em;
  line-height: 1.4;
  text-align: left;
}
table th {
  background-color: #BB86FC;
  font-weight: 300;
}
table tr:nth-child(2n) {
  background-color: white;
}
table tr:nth-child(2n+1) {
  background-color:#c1a5e4;
} */












body * {
  box-sizing: border-box;
}

h2 {
font-size: 18px;
font-weight: bold;
}

small {
font-size: 14px;
}

.pull {
float: left;
}

.push {
float: right;
}

.container {
width: 100%;
/* max-width: 960px; */
/* margin: 100px auto; */
}

img {
width: 100%;
height: 60%; 
object-fit: cover;
/* display: block; */
}

/*Card Styling*/

.card {
border: 1px solid #918181;
background-color: white;
}

.card__wrap--inner {
      padding: 12px;
  }

.card__item {
  padding: 12px 18px 12px 18px;
}

.card__sub {
  padding: 0 18px;
}

.card__footer {
  padding: 18px;
  overflow: hidden;
  border-top: 1px solid #353030;
}

/*Card Flex Code*/

.card {
display: flex;
flex-direction: column;
width: 100%;
}

.card__wrap--outer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
  }

.card__wrap--inner {
      display: flex;
      flex-direction: row;
      width: 100%;
  }

@media (min-width: 480px) {

.card__wrap--inner { 
          width: 50%
  }
      }


@media (min-width: 1024px) {

.card__wrap--inner { 
          width: 33.33%
  }
      }

.form {
  justify-content: center;
}

.flexible {
flex-grow: 1;
}

.grey {
  color: grey;
}

label {
  margin-top: 0.3em;
  font-size: 1em;
}

input {
  margin-top: 0.3em;
}


a {
  text-decoration: none;
  color: black;
  /* display: block; */
}

.material-icons.green { color: #04AA6D; }
.material-icons.red   { color: #75261c; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-36 { font-size: 36px; }

.material-icons-outlined.green { color: #04AA6D; }
.material-icons-outlined.red   { color: #75261c; }
.material-icons-outlined.md-18 { font-size: 18px; }
.material-icons-outlined.md-36 { font-size: 36px; }


/* .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.card {
  /* height: 40vh; */
  /* display: grid; */
  /* flex: 0 0 200px; */
  /* margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  /* width: 20em;
  border: 1px solid black;
  border-radius: 0.5em;
  margin: 1em; */
/* } */

/* 
.card img {
  max-width: 100%;
}
.card .text {
  padding: 0 20px 20px;
}
.card .text > button {
  background: gray;
  border: 0;
  color: white;
  padding: 10px;
  width: 100%;
  } */












  .container {
    padding: 16px;
    background-color: white;
  }

  .capital {
    text-transform: capitalize;
  }

  #pre {
    width: 12em;
    margin-bottom: 1em;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], select, input[type=file], .below {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

 input[type=number] {
   font-size: 1.3em;
  width: 100%;
  height: 100%;
  padding: 4px;
  /* margin: 5px 0 22px 0; */
  display: inline-block;
  border: none;
  background: #f1f1f1;
 }
  
  input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, select, input[type=file]:focus, .below:focus {
    background-color: #ddd;
    outline: none;
  }
  

  .danger-block{
    background-color: rgb(158, 84, 84) !important;
  }

  .danger-text{
    color: rgb(158, 84, 84) !important;
  }



  .head{
    border: 1px solid rgb(158, 84, 84);
  }

  /* Overwrite default styles of hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Set a style for the submit button */
  .registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover {
    opacity: 1;
  }
  
  /* Add a blue text color to links */
  a {
    color: dodgerblue;
  }
  
  /* Set a grey background color and center the text of the "sign in" section */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }




































  body {
    /* background: #eee; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .clearfix {
    content: "";
    display: table;
    clear: both;	
  }
  
  #site-header, #site-footer {
    background: #fff;
  }
  
  #site-header {
    margin: 0 0 30px 0;
  }
  
  #site-header h1 {
    font-size: 31px;
    font-weight: 300;
    padding: 40px 0;
    position: relative;
    margin: 0;
  }
  
  a {
    color: #000;
    text-decoration: none;
  
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
  }
  
  a:hover {
    color: #53b5aa;
  }
  
  #site-header h1 span {
    color: #53b5aa;
  }
  
  #site-header h1 span.last-span {
    background: #fff;
    padding-right: 150px;
    position: absolute;
    left: 217px;
  
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
  
  #site-header h1:hover span.last-span, #site-header h1 span.is-open {
    left: 363px;
  }
  
  #site-header h1 em {
    font-size: 16px;
    font-style: normal;
    vertical-align: middle;
  }
  
  .container {
    font-family: 'Open Sans', sans-serif;
    /* margin: 0 auto; */
    margin-left: 25%;
    width: 55%;
  }
  
  #cart {
    width: 100%;
  }
  
  #cart h1 {
    font-weight: 300;
  }
  
  #cart a {
    color: #53b5aa;
    text-decoration: none;
  
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
  }
  
  #cart a:hover {
    color: #000;
  }
  
  .product.removed {
    margin-left: 980px !important;
    opacity: 0;
  }
  
  .product {
    border: 1px solid #eee;
    margin: 20px 0;
    width: 100%;
    height: 195px;
    position: relative;
  
    -webkit-transition: margin .2s linear, opacity .2s linear;
    -moz-transition: margin .2s linear, opacity .2s linear;
    -ms-transition: margin .2s linear, opacity .2s linear;
    -o-transition: margin .2s linear, opacity .2s linear;
    transition: margin .2s linear, opacity .2s linear;
  }
  
  .product img {
    width: 100%;
    height: 100%;
  }
  
  .product header, .product .content {
    background-color: #fff;
    border: 1px solid #ccc;
    border-style: none none solid none;
    float: left;
  }
  
  .product header {
    background: #000;
    margin: 0 1% 20px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 24%;
    height: 195px;
  }
  
  .product header:hover img {
    opacity: .7;
  }
  
  .product header:hover h3 {
    bottom: 73px;
  }
  
  .product header h3 {
    background: #53b5aa;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
  
    -webkit-transition: bottom .2s linear;
    -moz-transition: bottom .2s linear;
    -ms-transition: bottom .2s linear;
    -o-transition: bottom .2s linear;
    transition: bottom .2s linear;
  }
  
  .remove {
    cursor: pointer;
  }
  
  .product .content {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 140px;
    padding: 0 20px;
    width: 75%;
  }
  
  .product h1{
    color: #519c92;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
  }

  h1{
    color: #403e66;
    font-size: 25px;
    font-weight: 300;
    margin: 17px 0 20px 0;
  }
  
  .product footer.content {
    height: 50px;
    margin: 6px 0 0 0;
    padding: 0;
  }
  
  .product footer .price {
    background: #fcfcfc;
    color: #000;
    float: right;
    font-size: 15px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  }
  
  .product footer .full-price {
    background: #519c92;
    color: #fff;
    float: right;
    font-size: 22px;
    font-weight: 300;
    line-height: 49px;
    margin: 0;
    padding: 0 30px;
  
    -webkit-transition: margin .15s linear;
    -moz-transition: margin .15s linear;
    -ms-transition: margin .15s linear;
    -o-transition: margin .15s linear;
    transition: margin .15s linear;
  }
  
  .qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
  }
  
  .qt {
    font-size: 19px;
    line-height: 50px;
    width: 70px;
    text-align: center;
  }
  
  .qt-plus, .qt-minus {
    background: #fcfcfc;
    border: none;
    font-size: 30px;
    font-weight: 300;
    height: 100%;
    padding: 0 20px;
    -webkit-transition: background .2s linear;
    -moz-transition: background .2s linear;
    -ms-transition: background .2s linear;
    -o-transition: background .2s linear;
    transition: background .2s linear;
  }
  
  .qt-plus:hover, .qt-minus:hover {
    background: #366e68;
    color: #fff;
    cursor: pointer;
  }
  
  .qt-plus {
    line-height: 50px;
  }
  
  .qt-minus {
    line-height: 47px;
  }
  
  #site-footer {
    margin: 30px 0 0 0;
  }
  
  #site-footer {
    padding: 40px;
  }
  
  #site-footer h1 {
    background: #fcfcfc;
    border: 1px solid #ccc;
    border-style: none none solid none;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 7px 0;
    padding: 14px 40px;
    text-align: center;
  }
  
  #site-footer h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }
  
  #site-footer h3 {
    font-size: 19px;
    font-weight: 300;
    margin: 15px 0;
  }
  
  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
  
  .btn {
    background: #386964;
    border: 1px solid #999;
    border-style: none none solid none;
    cursor: pointer;
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 16px 0;
    width: 290px;
    text-align: center;
  
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
  }
  
  .btn:hover {
    color: #fff;
    background: #429188;
  }
  
  .type {
    background: #fcfcfc;
    font-size: 13px;
    padding: 10px 16px;
    left: 100%;
  }
  
  .type, .color {
    border: 1px solid #ccc;
    border-style: none none solid none;
    position: absolute;
  }
  
  .color {
    width: 40px;
    height: 40px;
    right: -40px;
  }
  
  /* .red {
    background: #cb5a5e;
  } */
  
  .yellow {
    background: #f1c40f;
  }
  
  .blue {
    background: #3598dc;
  }
  
  .minused {
    margin: 0 50px 0 0 !important;
  }
  
  .added {
    margin: 0 -50px 0 0 !important;
  }


  /* .head, header{
    background-color: rgb(226, 241, 237) !important;
  } */

  .border {
    /* background: #4291881a; */
    /* border: 1px solid #429188; */
    /* margin: 4em; */
    padding: 2em;
    border-radius: 1em;
  }

  .container{
    border-radius: 1em;
  }

  hr {
    border: 1px solid #42918896;
  }



  body {
    background-color: rgb(228, 228, 228) !important;
  }

  

  .shift {
    /* padding-left: 5em; */
    /* background-color: blueviolet; */
    margin-left: 30%;
    border: 1px solid #356b6596;
  }




  .layer-1 {
    margin-left: 10% !important;
  }

  .layer-2 {
    margin-left: 15% !important;
  }


  .layer-3 {
    margin-left: 20% !important;
  }

  .layer-4 {
    margin-left: 25% !important;
  }

  .layer-5 {
    margin-left: 30% !important;
  }